
# # Playwright
# node_modules/
# /test-results/
# /playwright-report/
# /blob-report/
# /playwright/.cache/
# /playwright/.auth/

node_modules/
allure-report/
allure-results/
my-allure-results/
playwright-report/
test-results/
screenshots/
videos/
results.xml
results.json


